# =========================
# Python
# =========================
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3

# =========================
# Virtual Environment
# =========================
venv/
env/
ENV/

# =========================
# Jupyter
# =========================
# *.ipynb

# =========================
# ML / Data Files
# =========================
glove.6B*
*.h5
*.pt
*.pth
*.pkl
*.joblib

# Large datasets
data/
datasets/

# =========================
# Logs
# =========================
*.log

# =========================
# OS files
# =========================
.DS_Store
Thumbs.db

# =========================
# IDE
# =========================
.vscode/
.idea/

# =========================
# Node (if React frontend)
# =========================
node_modules/
dist/
build/

# =========================
# Environment variables
# =========================
.env